* {
    Margin: 0;
    Padding: 0;
  }

body {
    background-color: black;
}

html, body {
    height: 100%;
}

.words {
    display: flex;
    flex-flow: column;
    height: 15%;
    align-content: center;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    color: white;
}

.container-producto1 {
    margin-right: 700px;
    display: flex;
    justify-content: center;
}

.producto1vista {
    position: absolute;
    width: 40%;
}

.parrafo-mensaje1 {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor1 {
    display: flex;
    justify-content: center;
    align-self: center;
}

.div-boton1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    height: 300px;
    flex-direction: column;
    border-radius: 15px;
    width: 600px;
    position: absolute;
    z-index: 5;
    margin-top: 200px;
}

.btn-mensaje1 {
    margin-top: 60px;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    cursor: pointer;
}

.parrafo-mensaje2 {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor2 {
    display: flex;
    justify-content: center;
    align-self: center;
    visibility: none;
}

.div-boton2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    height: 300px;
    flex-direction: column;
    border-radius: 15px;
    width: 600px;
    position: absolute;
    z-index: 4;
    margin-top: 200px;
}

.btn-mensaje2 {
    margin-top: 60px;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    cursor: pointer;
}

.parrafo-mensaje3 {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor3 {
    display: flex;
    justify-content: center;
    align-self: center;
    visibility: none;
}

.div-boton3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    height: 300px;
    flex-direction: column;
    border-radius: 15px;
    width: 650px;
    position: absolute;
    z-index: 3;
    margin-top: 200px;
}

.btn-mensaje3 {
    margin-top: 60px;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    cursor: pointer;
}

.parrafo-mensaje4 {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor4 {
    display: flex;
    justify-content: center;
    align-self: center;
    visibility: none;
}

.div-boton4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    height: 300px;
    flex-direction: column;
    border-radius: 15px;
    width: 600px;
    position: absolute;
    z-index: 2;
    margin-top: 200px;
}

.btn-mensaje4 {
    margin-top: 60px;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    cursor: pointer;
}

.prueba1 {
    display: none;
    left: 400px;
    top: 400px;
    background-color: #555;
    height: 70px;
    width: 140px;
    border-radius: 4px;
    border: 2px solid white;
    position: absolute;
    margin-left: 30px;
}

.prueba2, .prueba3 {
    display: hidden;
    position: absolute;  
}

.parrafo-prueba1, .parrafo-prueba2, .parrafo-prueba3 {
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 5px;
}

.mensajes {
    display: flex;
    justify-content: center;
    align-content: center;
    top: 100px;
}

.mensaje1, .mensaje2, .mensaje3, .mensaje4 {
    display: none;
    background-color: #555;
    height: 60px;
    border-radius: 8px;
    width: 120px;
    position: absolute;
    z-index: 2;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 8px;
    top: 400px;
}

.mensaje1 {
    border: 3px solid green;
}

.mensaje2, .mensaje3, .mensaje4 {
    border: 3px solid red;
}

.img1, .img2, .img3, .img4, .img5, 
.img6, .img7, .img8, .img9, .img10, 
.img11, .img12, .img13, .img14, .img15,
.img16, .img17, .img18, .img19, .img20,
.img21 {
    cursor: pointer;
    width: 100%;
}

.boton1, .boton2, .boton3, .boton4, .boton5, 
.boton6, .boton7, .boton8, .boton9, .boton10, 
.boton11, .boton12, .boton13, .boton14, .boton15,
.boton16, .boton17, .boton18, .boton19, .boton20,
.boton21 {
    display: none;
    background: transparent;
    border: transparent;
    position: relative;
    width: 2%;
}

.popuptext1, .popuptext2, .popuptext3, .popuptext4, .popuptext5, 
.popuptext6, .popuptext7, .popuptext8, .popuptext9, .popuptext10, 
.popuptext11, .popuptext12, .popuptext13, .popuptext14, .popuptext15,
.popuptext16, .popuptext17, .popuptext18, .popuptext19, .popuptext20,
.popuptext21 {
    display: none;  
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position:absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.boton1 {
    left: 820px;
    top: 40px;
}

.boton2 {
    left: 780px;
    top: 120px;
}

.boton3 {
    left: 700px;
    top: 230px;
}

.boton4 {
    left: 670px;
    top: 285px;
}

.boton5 {
    left: 630px;
    top: 340px;
}

.boton6 {
    left: 620px;
    top: 390px;
}

.boton7 {
    left: 580px;
    top: 445px;
}

.boton8 {
    left: 600px;
    top: 90px;
}

.boton9 {
    left: 730px;
    top: 130px;
}

.boton10 {
    left: 725px;
    top: 290px;
}

.boton11 {
    left: 740px;
    top: 250px;
}

.boton12 {
    left: 700px;
    top: 390px;
}

.boton13 {
    left: 660px;
    top: 460px;
}

.boton14 {
    left: 620px;
    top: 660px;
}

.boton15 {
    left: 430px;
    top: 670px;
}

.boton16 {
    left: 195px;
    top: 685px;
}

.boton17 {
    left: 250px;
    top: 630px;
}

.boton18 {
    left: 210px;
    top: 565px;
}

.boton19 {
    left: 190px;
    top: 505px;
}

.boton20 {
    left: 270px;
    top: 460px;
}

.boton21 {
    left: 150px;
    top: 310px;
}






